{# 

{% %} pour les commandes extends/block/if-for..
{{ }} pour les variables

#}




{% extends 'base.html.twig' %}


{% block title %}help RH{% endblock %}

 {% block body %}

    <div class="my-5 py-5 text-center">
        <img src="{{ asset('assets/favicon.png') }}" height="55" width="55" alt="logo" class="logo">
        <h1 class=" text-success display-6 fw-bold">Test de personnalité</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-dark">Montrer Vos atouts pour le poste</p>
        </div>
 {% endblock %}